mixin search-results()

  section.search-results
    h1.visually-hidden Search results
    .container
      .search-results__filter
        .search-results__filters
          +range-slider(priceSlider)
          +scale-switch({ title: "Nose", name: "nose" })
          +select(selectSort).search-results__sort
      .search-results__results
        .search-results__summary
          .search-results__total-results #[output 1034,5] Results
          +selected-properties()
        +search-properties()
        .search-results__products
