.search-results {
  margin-bottom: 30px;

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.search-results__filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 25px;
  margin-bottom: 15px;
}

.search-results__sort {
  margin-left: auto;
}

.search-results__results {
  display: grid;
  grid-template-columns: 245px 1fr;
  gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.search-results__summary {
  grid-column: 1 / -1;
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.search-results__total-results {
  flex-shrink: 0;
}
