mixin header(headerMods, currentUrl)

  header.header(class=headerMods)
    .container
      form.header__form
        +logo().header__logo
        +site-search().header__site-search
        +category-list()
        button.visually-hidden(type="submit") search
