// Colors
// ---------------------------------

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$color-black-russian:               #171722;
$color-jaguar:                      #212129;
$color-revolver:                    #353542;
$color-nobel:                       #959595;

$color-yellow-green:                #84d52c;

// Project colors

$color-site-txt:                    $color-default-white;
$color-site-bg:                     $color-black-russian;

$color-input:                       $color-nobel;
$color-input-action:                $color-default-white;

$color-category-checkbox-bg:        $color-jaguar;
$color-category-checkbox-checked-bg: $color-revolver;


// Gradient

$gradient-category-checkbox:        linear-gradient(60deg, $color-transparent -120%, rgba($color: $color-yellow-green, $alpha: 36%) 100%);

// Shadows

$shadow-category-checkbox:          0 3px 15px 0 rgba($color: $color-yellow-green, $alpha: 20%);

// Typography
// ---------------------------------

$ff-site-primary:                   "Proxima Nova", "Arial", sans-serif;

// Animation
// ---------------------------------

$trans-default:                     0.3s ease;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-414:                            414px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1200:                           1200px;
$vp-1480:                           1480px;
$vp-1920:                           1920px;
