-
  const categories = [
    {
      icon: ["icon-leaf", 24, 24],
      text: "Buds",
      value: "buds",
      checked: false,
    },
    {
      icon: ["icon-leaf", 24, 24],
      text: "Edible",
      value: "edible",
      checked: true,
    },
    {
      icon: ["icon-leaf", 24, 24],
      text: "Non Edible",
      value: "non-edible",
      checked: true,
    },
    {
      icon: ["icon-leaf", 24, 24],
      text: "Concentrate",
      value: "concentrate",
      checked: true,
    },
  ]

  const priceSlider = {
          title: "Price Range",
          start: [0, 4000],
          range: {
            'min': [0, 10],
            '10%': [100, 20],
            '20%': [500, 50],
            '40%': [1000, 100],
            'max': [10000],
          }
        }

  const selectSort = {
    name: 'sort',
    markup: [
      {
        label: 'Sort by :',
        options: [
          {
            html: '<svg width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-settings"></use></svg><span>Default</span>',
            text: 'Default',
            value: 'default',
            selected: true,
            display: false,
          },
          {
            html: '<svg width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-calendar"></use></svg><span>Date (New first)</span>',
            text: 'Date (New first)',
            value: 'date-new',
          },
          {
            html: '<svg width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-calendar"></use></svg><span>Date (Old first)</span>',
            text: 'Date (Old first)',
            value: 'date-old',
          },
          {
            html: '<svg width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-arrow"></use></svg><span>Price (High first)</span>',
            text: 'Price (High first)',
            value: 'price-high',
          },
          {
            html: '<svg class="rotate-180deg" width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-arrow"></use></svg><span>Price (Low first)</span>',
            text: 'Price (Low first)',
            value: 'price-low',
          },
          {
            html: '<svg width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-thc-high"></use></svg><span>Total THC (High first)</span>',
            text: 'Total THC (High first)',
            value: 'thc-high',
          },
          {
            html: '<svg width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-thc-low"></use></svg><span>Total THC (Low first)</span>',
            text: 'Total THC (Low first)',
            value: 'thc-low',
          },
          {
            html: '<svg width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-cbd-high"></use></svg><span>Total CBD (High first)</span>',
            text: 'Total CBD (High first)',
            value: 'cbd-high',
          },
          {
            html: '<svg width="24" height="24" aria-hidden="true"><use xlink:href="img/sprite.svg#icon-cbd-low"></use></svg><span>Total CBD (Low first)</span>',
            text: 'Total CBD (Low first)',
            value: 'cbd-low',
          },
        ],
      },
    ],
  }

  const propertiyGroups = [
    {
      groupTitle: "Classification",
      properties: [
        {
          title: "100% Indica",
          value: "classification-100p-indica",
          checked: true,
        },
        {
          title: "100% Sativa",
          value: "classification-100p-sativa",
        },
        {
          title: ">50% Indica",
          value: "classification-m50p-indica",
          checked: true
        },
        {
          title: ">50% Sativa",
          value: "classification-m50p-sativa",
        },
      ],
    },
    {
      groupTitle: "Production Method",
      properties: [
        {
          title: "Indoor",
          value: "production-method-indoor",
          checked: true,
        },
        {
          title: "Outdoor",
          value: "production-method-0utdoor",
        },
        {
          title: "Greenhouse",
          value: "production-method-greenhouse",
        },
        {
          title: "Light Deprivation",
          value: "production-method-light-deprivation",
        },
        {
          title: "Mixed Light",
          value: "production-method-mixed-light",
        },
        {
          title: "Other",
          value: "production-method-other",
        },
      ],
    },
    {
      groupTitle: "Size",
      properties: [
        {
          title: "Flower",
          value: "size-flower",
          checked: true,
        },
        {
          title: "Pre-Roll Flower",
          value: "size-pre-roll-flower",
        },
        {
          title: "Pre-Roll Infused",
          value: "size-pre-roll-infused",
        },
        {
          title: "Pre-Roll Leaf",
          value: "size-pre-roll-leaf",
        },
        {
          title: "Shake",
          value: "size-shake",
        },
        {
          title: "Smalls",
          value: "size-smalls",
        },
        {
          title: "Trim",
          value: "size-trim",
        },
        {
          title: "Shake",
          value: "size-shake2",
        },
        {
          title: "Keef",
          value: "size-keef",
        },
        {
          title: "Fresh Frozen",
          value: "size-fresh-frozen",
        },
      ],
    },
  ]
